﻿.panel-title > a{text-decoration: underline}
.panel-title > a:hover{text-decoration: none}

.detaljerad-prognos .panel-title a.collapsed span::before {
    content: "Detailed forecast";
}
.detaljerad-prognos .panel-title a span::before {
    content: "Close";
}        

.vaderprognosa-h1{
	font-family: sans-serif !important;
}
#hide-weather,#hide-weather a{
	font-family: sans-serif !important;
}
.collapsed{
	color: #333 !important;
}
.vaderprognosa-h1> a:hover{
	text-decoration:none;	
}
#hitta-vader{
	width: 378px;
}
.loading{
    background: #fff url("../img/LoaderIcon.gif") no-repeat scroll right center;
}
#hitta-vader {
    width: 378px;
}
#suggesstion-box {
    width: 378px;
	margin:auto;
max-height: 400px;
overflow-y: scroll;
}
#suggesstion-box li{
    background: #f0f0f0 none repeat scroll 0 0;
    display: block;
    float: none !important;
    margin: 0 !important;
    padding-bottom: 3px;
	padding-top: 3px;
    padding-left: 12px;
    text-align: left;
}
#suggesstion-box li:hover{
	background:#fff;
	cursor:pointer;
}

#suggesstion-box ul{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0;
    max-height: 147px;
    overflow-y: scroll;
    padding: 0;
}
#suggesstion-box{
	display:none;
}
#weather-display{
	min-height: 200px;
}
#weatherCityHead{
	display:none;
}
.loader_data{
    background: #2b4243 url("../img/weather_loading.gif") no-repeat scroll center center;
    height: 100%;
    min-height: 600px;
    position: relative;
}

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}

.typeahead li {
    display: list-item !important;
    width: 100%;
}
.typeahead{
    min-width: 378px !important;
    padding: 0 !important;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}

.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 2px;
	padding: 4px 0 5px;
	width: 100%;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 15px;
    text-align: left;
	border-bottom: 1px solid #f5f6f7;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
.custom-search{
    border-radius: 0 6px 6px 0 !important;
    margin-left: 0;
    padding: 6px 9px 1px 6px !important;	
}
.input-search-btn {
    margin-left: -4px;
	display:none;
}
.typeahead a{
    border-left: medium none !important;
    border-radius: 0 !important;
    border-right: medium none !important;
    border-top: medium none !important;
    margin: 0 !important;
	line-height:2 !important;
	width: 100%;
}
.suggest_item>.text-left{
   padding-right: 12px;
}
.suggest_item .text-right{
	color: #898989;
}
.typeahead>.active .text-right{
	color: #fff !important;
}
.tableTime {
    padding-left: 21px;
    width: 106px;
}


/* ==========================================================================
    Author's custom styles
    
    Colors:
    #fdfbee ivory
    #FFBA66 orange
    #4fc5c8 aquadesiac
    #222222 black
    #565656 gray
    #f27474 red


   ========================================================================== */
body{
    background: url("../img/bg-vader-prognos.jpg") no-repeat fixed center 0 / cover;
    cursor: default;
    font-family: "merriweather_sans","Arial","Helvetica Neue","Helvetica",sans-serif;
    min-width: 340px;
}
html, body{
    height: 100%;
    
}
::selection {
	background: transparent; /* Safari */
	color:#fdfbee;
	}
::-moz-selection {
	background: transparent; /* Firefox */
	color:#fdfbee;
}
html:focus, body:focus, img:focus {
    outline: none;
}
a{
outline: medium none !important;
}
/*hr{border-color: #fdfbed;}*/
.tooltip-inner{
    
    background-color: #fdfbee;
    border-color: #fdfbee;
    color: #565656;
}
.tooltip.bottom .tooltip-arrow {
 
  border-bottom-color: #fdfbee;
}
.tooltip.bottom{
    margin-top: 2px;
    width:auto;
}
.modal-dialog{
    top:15%;
}
.close {
    float: none;
    font-size: 42px;
}
.modal-content {
    background: none repeat scroll 0 0 #fdfbee;
    color: #333;
    padding: 20px;
    text-align: center;
    
}
.panel {
    box-shadow: none;
}
.btn.btn-default.btn-lg.btn-vader {
    background: transparent;
}
.btn.btn-default.btn-lg.btn-vader:hover {
    background: #4bc3c4;
	color:#fff;
}
.navbar-right {
    margin-right: 10px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
    background-color: #56386f;
	background-image: none;
	}
.weathertron footer p {
    font-size: 14px;
}
.navbar-inverse {
    background: #222;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out 0s;
}
.navbar-inverse:hover {
    opacity: 0.95;
}
.navbar-inverse .navbar-nav > .active > a {
    background-color: #56386f;
}
input#hitta-vader[type="search"]::-webkit-input-placeholder {
color: #ccc!important; 
}

input#hitta-vader:focus[type="search"]::-moz-placeholder {  /* Firefox 19+ */
   color: #fdfbee!important;  
}

input#hitta-vader[type="search"]:-ms-input-placeholder {  
   color: #ccc!important;  
}

/* overwrites bootstrap.css*/
.form-control::-moz-placeholder {
    color: inherit!important;
}

.input-group-addon {
    background-color: #4bc3c4;
	}
.input-group {
    border-collapse: separate;
    display: table;
    margin-bottom: 2%;
    position: relative;
}
	
.weathertron {
    background-color: #fff;
    border-bottom: 12px solid #56386f;
    border-top: 12px solid #FFBA66;
    color: inherit;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.14286;
    padding: 30px;
    position: relative;
    z-index: 300;
}

.form-control {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #565656;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

#search {
    
    margin: 0 auto;
    width: 80%;
	display: block;
    opacity: 0.0;
	transition: width 1.0s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
	z-index: 100;
}
#home #search {
    
    opacity: 1.0;
}
.transparentview{ height:100%; }

#search .container{
	position:fixed;
	top: 15%;
	width:80%;
	transition: top 1.0s ease-in-out 0s, width 1.0s ease-in-out 0s;
}

.search-logo {
    background: url("../img/vader-prognosa-ivory-logo.png") no-repeat scroll 25px 40px / 75% auto #ffba66;
    border-radius: 100px;
    height: 200px;
    margin: 0 auto 10px;
    transition: all 1s ease-in-out 0s;
    width: 200px;
}

h1.vaderprognosa-h1 {
    color: #fff;
    font-size: 26px;
    margin-left: 0;
    padding: 0 40px;
    position: absolute;
    top: 119px;
    transform: rotate(0deg);
    transition: all 1s ease-in-out 0s;
}
h1.vaderprognosa-h1 a{ 
    color:#fdfbee;
    text-decoration: none;
}

#search-transparent-border{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px;
}

#connect-search-button.form-group {
    padding-left: 0;
    padding-right: 0;
}

#search input {
    background: none repeat scroll 0 0 #fdfbee;
    border: 1px solid #fdfbee;
    box-shadow: none;
    font-size: 36px;
    height: 63px;
    padding: 6px 20px;
    transition: color 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s, font-size 1s ease-in-out 0s;
    width: 100%;
}
#search button {
    background: none repeat scroll 0 0 #4fc5c8;
    border-radius: 0;
    color: #fdfbee;
    font-size: 22px;
    height: auto;
    opacity: 1;
    padding: 17px 0 13px;
    transition: all 0.3s ease-in-out 0s;
}
#search button:hover {    
    background: none repeat scroll 0 0 #6fcfd2;
}

#hitta-vader.form-control:focus {
    text-transform: capitalize;
}
#search input:hover{
    color: #eee;
	}

#search input:focus{
	color:#565656;
	}
		
ul.ortens-favoriter{
	padding:0;;
}
		
ul.ortens-favoriter li {
    margin-top:1em;
    display: inline-block;
	
}

ul.ortens-favoriter li a {
    background: #fdfbee;
    color: #565656;
    margin-right: 5px;
    opacity: 0.9;
}
ul.ortens-favoriter li a:hover{
    background: #fdfbee;
	  opacity: 1;
}
footer {
    font-size: 13px;
    padding: 30px;
    text-align: center;
}

.navbar-right .glyphicon {
    color: #f1f1f1;
    font-size: 26px;
    padding-left: 10px;
    padding-top: 7px;
}
.navbar-right .glyphicon:hover {color:#4fc5c8;}

.navbar-right{list-style:none;}

.break-line{border-bottom:1px solid #aeaeae;}

.input-group-addon.glyphicon {
    color: #FFFFFF;
}

.weathertron form .btn-default {
    border-color: #4BC3C4;
    color: #565656;
    margin-top: 2%;
    padding: 14px 40px;
}
.weathertron form .btn-default:hover {
    
    color: #fff;
    
}
	
ul.palette{padding:20px 0;}	
ul.palette li{ 
	border-radius:30px;
	height:30px;
	width:30px;
	display:inline-block;
	
}	
ul.palette li:nth-of-type(1) {
    background: none repeat scroll 0 0 #4fc5c8;
}
ul.palette li:nth-of-type(2) {
    background: none repeat scroll 0 0 #FFBA66;
}
ul.palette li:nth-of-type(3) {
    background: none repeat scroll 0 0 #56386f;
}
ul.palette li:nth-of-type(4) {
    background: none repeat scroll 0 0 #222222;
}
ul.palette li:nth-of-type(5) {
    background: none repeat scroll 0 0 #565656;
}	#connect-search-button .dropdown-menu {	top: 58px !important;}.pager li {display: inline;line-height: 40px;}
	


/*
 * Web Fonts downloaded from fontsquirrel.com
 *
 * Copyright (c) 2010-2013, Sorkin Type Co (www.sorkintype.com) with Reserved Font Name Merriweather
 * Merriweather is a trademark of Sorkin Type Co.
 * This Font Software is licensed under the SIL Open Font License, Version 1.1.
 * This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL
 *
 */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 22, 2014 */



@font-face {
    font-family: 'merriweather_sans';
    src: url('../fonts/merriweathersans-light-webfont.eot');
    src: url('../fonts/merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweathersans-light-webfont.woff') format('woff'),
         url('../fonts/merriweathersans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*==========  Social Buttons for search bar view  ==========*/
ul.share-contact-buttons{
    padding-left:0;
}
ul.share-contact-buttons li{
    list-style:none;
    display:inline-block;
    border-radius:80px;
    width:80px;
    height: 80px;
    overflow: hidden;
    margin: 10px;
}

ul.share-contact-buttons li a{
   border:none;
    width:80px;
    height: 80px;
    border-radius: 80px;
    background: #333;
    text-align:center;
    vertical-align:middle;
    display: table-cell;
    text-transform: uppercase;
    font-family: arial, verdana, sans-serif;
    text-decoration: none;
    box-shadow: none;
    color:#fdfbee;
    transition: all 0.4s ease-in-out 0s;
}

ul.share-contact-buttons li.dela-prognosa a{
    background: #98d674;
}
ul.share-contact-buttons li.dela-prognosa a span{
    
    color:#fdfbee;
    font-size:34px;
}
ul.share-contact-buttons li.dela-prognosa a:hover, ul.share-contact-buttons li.dela-prognosa a:active{
    box-shadow: 0px 0px 80px inset;
    color:#a5dc86;
}


ul.share-contact-buttons li.mejla-prognosa a{
    background: #4fc5c8;
}
ul.share-contact-buttons li.mejla-prognosa a span {
    color: #fdfbee;
    font-size: 34px;
    margin: 2px 0 0 1px;
}

ul.share-contact-buttons li.mejla-prognosa a:hover, ul.share-contact-buttons li.mejla-prognosa a:active{
    box-shadow: 0px 0px 80px inset;
    color:#6fcfd2;
}
/*==========  Social Buttons  ==========*/
.modal-content ul{
    list-style-type: none;
    padding: 0;
}

.modal-content ul a{
    font-size:32px;
    padding: 20px 40px;
    display: block;
    margin: 20px;
    color:#fdfbee;
    text-decoration: none;
    text-transform: uppercase;
}

.modal-content ul a:hover, .modal-content ul a:active, .modal-content ul a:focus{
    opacity:0.9;
    color:#fdfbee;
    text-decoration: none;
}
/*.fb-dark{
	background: #354f88;
	
}*/

.fb-light {
	background: #3b5998;
	
}

/*.tw-dark {
	background: #40a2d1;
}*/

.tw-light {
	background: #45b0e3;
}

/*.gl-dark {
	background: #ce3e26;
	
}*/
 
.gl-light {
	background: #de4c34;

}


/*==========  Hide Display Styles  ==========*/

#hide-weather{
    display: block;
    opacity: 1.0;
    transition: opacity 0.1s ease-in-out;
}

/*==========  Weather Display Styles  ==========*/


#weather-header, #weather-display {
    background-color: #2b4243;
    color: #fdfbee;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.14;
    min-width: 320px;
    position: relative;
    z-index: 300;
    
}
#weather-header {
    background-color: #2d494a;
    border-top: 2px solid #ffba66;
    height: 82px;
    position: fixed;
    transition: margin-top 0.1s ease-in-out 0s;
    width: 100%;
    z-index: 600;
}

#weather-header .row {
    margin-left: 0;
    margin-right: 0;
}

#weather-header h1 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

span.minus {color:#4fc5c8}
span.plus {color:#f27474}
span.plus, span.minus {  
    margin-right: 3px;
    padding-top: 6%;    
    vertical-align: middle;
}
/*==========  Like, Favorite & Close Icon  ==========*/

.icon-weather-control {
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    float: right;
    height: 48px;
    margin: 15px 0 0 10px;
    position: relative;
    width: 48px;
   
}
.icon-weather-control > a {
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.icon-weather-control > a:hover, .icon-weather-control > a:active, .icon-weather-control > a:focus {
    opacity: 1.0;
    transform: rotate(360deg);
}
.icon-close-weather {
    border: 2px solid #f27474;
}

.icon-close-weather .line, .icon-favorite-weather .line, .icon-like-weather .line{
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
}

.icon-close-weather .line {
    background-color: #f27474;
    top: 21px;
    width: 33px;
}
.icon-close-weather .line.right {
    right: 5px;
    transform: rotate(-45deg);
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
}
.icon-close-weather .line.left {
    left: 7px;
    transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}

.icon-favorite-weather {
    border: 2px solid #ffba66;
}

.icon-favorite-weather .line {
    background-color: #ffba66;
    top: 20px;
    width: 32px;
}
.icon-favorite-weather .line.right {
    right: 12px;
    transform: rotate(-66deg);
        -ms-transform: rotate(-66deg); /* IE 9 */
        -webkit-transform: rotate(-66deg); /* Chrome, Safari, Opera */
}
.icon-favorite-weather .line.left {
    left: 13px;
    transform: rotate(65deg);
        -ms-transform: rotate(65deg); /* IE 9 */
        -webkit-transform: rotate(65deg); /* Chrome, Safari, Opera */
}
.icon-favorite-weather .line.right.bottom {
    left: 7px;
    top: 25px;
    transform: rotate(-33deg);
        -ms-transform: rotate(-33deg); /* IE 9 */
        -webkit-transform: rotate(-33deg); /* Chrome, Safari, Opera */
    width: 34px;
}
.icon-favorite-weather .line.left.bottom {
    left: 4px;
    top: 25px;
    transform: rotate(33deg);
        -ms-transform: rotate(33deg); /* IE 9 */
        -webkit-transform: rotate(33deg); /* Chrome, Safari, Opera */
    width: 34px;
}
.icon-favorite-weather .line.middle {
    left: 7px;
    top: 16px;
    width: 31px;
}

.icon-like-weather {
    border: 2px solid #a5dc86;
}

.icon-like-weather .line {
    background-color: #a5dc86;
    top: 21px;
    width: 31px;
}
.icon-like-weather .line.right {
    right: 6px;
    
}
.icon-like-weather .line.left {
    left: 7px;
    transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}


/*==========  End Like, Favorite & Close Icon  ==========*/

 #weather-display {
     border-bottom: 2px solid #FFA500;
     opacity: 0.95;
     top: 82px;

 }

.glyphicon.glyphicon-map-marker {
    color: #f27474;
    font-size: 19px;
}

.weather-element {
    font-size: 140px;
    line-height: 220px;
    text-align: right;
    /*background: -webkit-linear-gradient(#fe0 40%, #4fc5c8 50%, #fe0 10%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/
}
.degrees {
    font-size: 215px;
    line-height: 165px;
    text-align: center;
}
.degrees span {
    font-size: 100px;
}
.degrees sup {
    font-size: 90px;
    top: -60px;
}

#weather-display ul {
    display: inline;
    padding: 0;

}
#weather-display li {
    font-size: 45px;
    line-height: 62px;
    list-style-type: none;
}
#weather-display li i {
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.wi-sprinkles{color: #4fc5c8;}
.wi-wind-south-east{color:#f27474;}
.wi-windy{color:#DDD;}
.wi-horizon-alt{color:#fe0;}
.wi-horizon{color:#FFBA66;}

#weather-display .row div ul li span {
    font-size: 70%;
    margin-left: 2%;
}

/*==========  Sun rise / Sun set  ==========*/

h4.panel-title {
    min-width: 250px;
}

.let-the-sun-go-down {
    display: inline;
}

#accordion ul.let-the-sun-go-down li {
    color: #fdfbee;
    display: inline-block;
    font-size: 30px;
    margin: 0 15px;
}

#accordion ul.let-the-sun-go-down li i {
    color: #ffffaa;
    margin:0;
}

/*==========  Detailed Prognosis  ==========*/
.table-responsive {
    border: 0px solid #555;
    width: inherit;
}

.detaljerad-prognos .panel-default > .panel-heading, .detaljerad-prognos .panel {
    background-color: transparent;
    background-image:none;
    border: none;
}
.detaljerad-prognos .panel-heading {
    text-align: center;
}
.detaljerad-prognos .panel-title a.collapsed {
    border: 1px solid #fdfbee;
    border-radius: 30px;
    color: #fdfbee !important;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}
.detaljerad-prognos .panel-title a.collapsed:hover {
    background: #4fc5c8;
    border: 1px solid #4fc5c8;
    color: #fff;
    text-decoration: none;
}

.detaljerad-prognos .panel-title a {
    border: 1px solid #f27474;
    border-radius: 30px;
    color: #f27474;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}
.detaljerad-prognos .panel-title a:hover {
    background: #f27474;
    border: 1px solid #f27474;
    color: #232525;
    text-decoration: none;
}

.detaljerad-prognos .panel-title a.collapsed span:before {
    content: 'Detaljerad prognos';
}
.detaljerad-prognos .panel-title a span:before {
    content: 'Stäng';
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border-top: 0px solid transparent;
}
.panel-group {
    margin-bottom: 40px;
}

.panel-body{
    
    position:relative;
    -webkit-overflow-scrolling: touch;
}
.row.detaljerad-prognos.table-responsive {
    display: block;
}
.table tr td.vadret-en-timme {
    border-color: transparent #555 transparent transparent;
    border-style: solid;
    border-width: 1px;
    display: table-cell;
    padding: 0 10px;
    text-align: center;
}
/*.table tr td.vadret-en-timme:hover {
    border-color: #555;
}*/

.table tr td.vadret-en-timme sup {
    top: -0.1em;
}

#weather-display .table tr td.vadret-en-timme li:nth-child(2),
#weather-display .table tr td.vadret-en-timme li:nth-child(3) {
    font-size: 28px;
}
#weather-display .table tr td.vadret-en-timme li:nth-child(2) {

    margin-bottom: 0;
}
#weather-display td.vadret-en-timme ul {
    margin-top: 0;
}

#weather-display td.vadret-en-timme ul li {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 10px;
}
#weather-display td.vadret-en-timme ul li:first-child {
    font-size: 18px;
}
#weather-display .vadret-en-timme span {
    display: block;
    font-size: 12px;
    line-height: 4px;
}
#weather-display .vadret-en-timme span.plus {
    display: inline;
}
.row.detaljerad-prognos td:last-child {
    border-right: none;
}

.mobile-icon-only {
    display: none;
}
.glyphicon.glyphicon-thumbs-up.mobile-icon-only, .glyphicon.glyphicon-star-empty.mobile-icon-only {
    font-size: 22px;
    margin-top: 4px;
}
 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
       
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		#search .container{
			
			width:90%;
		}
		#search {
			
			width: 90%;

		}
        #weather-display {
            background: none repeat scroll 0 0 #2d494a;
            opacity: 1;
            top: 62px;
        }
        .weather-element {
            font-size: 120px;
            line-height: 200px;
        }
        .degrees {
            font-size: 180px;
            letter-spacing: -10px;
            line-height: 135px;
        }
        .degrees span {
            font-size: 100px;
        }
        .degrees sup {
            font-size: 70px;
            top: -50px;
        }
        #weather-display ul {
            
            height: 0;
        }
        #weather-display li {
            font-size: 40px;
            line-height: 50px;
            
        }
        
}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      body {
            background: #fdfbee;
        }
        	#search input {
            background: none repeat scroll 0 0 #fff;
            font-size: 24px;
            border: 1px solid #f3f3f3;
        }
          #search-transparent-border{
          background-color: transparent;
          padding: 0;
      }  
      		#search .form-group {
      			padding-left: 0;
      			padding-right: 0;
      		}
        
        h1 span {
            display: none;
        }
       
        .weather-element {
            font-size: 90px;
            line-height: 150px;
        }
        .degrees {
            padding: 0;
        }
        .degrees {
            font-size: 140px;
            letter-spacing: -5px;
            line-height: 105px;
        }
        .degrees span {
            font-size: 60px;
        }
        .degrees sup {
            font-size: 45px;
            left: -2px;
            
        }
        #weather-display li {
            font-size: 26px;
            line-height: 38px;
        }
        #weather-display li i {
             margin-right: -8px;
             width: 55px;
        }
        #accordion ul.let-the-sun-go-down li {
   
            font-size: 18px;
            margin: -2px;
        }
        #accordion ul.let-the-sun-go-down li i {
            margin: -10px;
        }
		    .detaljerad-prognos .panel-title a.collapsed{
		        padding:10px 20px;
		    }
		    h4.panel-title {
            min-width: 235px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        #search .container {
            top: 10%;
        }
		.search-logo {
            background: url("../logo/vader-prognosa-ivory-logo.png") no-repeat scroll 8px 17px / 81% auto #ffba66;
            height: 85px;
            margin-bottom: 30px;
            margin-top: -10px;
            width: 85px;
        }
		h1.vaderprognosa-h1 {
            color: #565656;
            display: block;
            font-size: 32px;
            margin-left: -33px;
            margin-top: 82px; 
			      padding: 0;
            text-indent: 0px;
			      top: 0px;
		      	transform: rotate(0deg);
                -ms-transform: rotate(0deg); /* IE 9 */
                -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		}
		h1.vaderprognosa-h1 a{
            color: #565656;
		}
		#search .container{

			width:95%;
		}
        #search .form-group {
            margin-top: 20px;
            
        }
	
      
		#search {
            
			width: 95%;
            min-width:320px;
		}
		#search button {
            background: none repeat scroll 0 0 #4fc5c8;
        }
		.weathertron form .btn-default {
			
			padding: 14px 18px;
		}
		.weathertron {
			font-size: 90%;
		}
		h1, .h1 {
            font-size: 28px;
            line-height: 22px;
            margin: 3px 15px;
        }
		h2, .h2 {
            font-size: 26px;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .weather-element {
            font-size: 50px;
            line-height: 120px;
        }
        .degrees {
            font-size: 80px;
            line-height: 95px;
            margin-left: -6px;
        }
        .degrees span {
            font-size: 35px;
        }
        .degrees sup {
            font-size: 38px;
            left: 3px;
            top: -20px;
        }
        #weather-display ul {
            margin-top:10px;
            height: 0;
        }
        #weather-display ul {
            height: 0;
            margin-left: -10px;
            margin-top: -5px;
            overflow: hidden;
            white-space: nowrap;
        }
        #weather-display li {
            font-size: 21px;
            line-height: 22px;
        }
        #weather-display li i {
             margin-right: 0;
             width: 30px;
        }
        .icon-weather-control{
            display:none;
        }
        .panel-group {
            margin-bottom: 4px;
            margin-top: 10px;
        }
        #accordion ul.let-the-sun-go-down li {
   
            font-size: 19px;
            margin: 0px;
        }
        #accordion ul.let-the-sun-go-down li i {
            margin: 0;
        }
		    .detaljerad-prognos .panel-title a.collapsed{
		        padding:8px 10px;
		    }
		    h4.panel-title {
            min-width: 190px;
        }
        
        /* Mobile Specific Design Rules Below */       

        .icon-weather-control > a {
            opacity: 1;
        }
        #accordion .row.detaljerad-prognos.table-responsive{
            margin:0 0 15px 0;   
        }
        .detaljerad-prognos .panel-title a,
        .detaljerad-prognos .panel-title a.collapsed{
            border-radius: 0;
            border: 1px solid #4fc5c8;
            display: block;
            background: #4fc5c8;
           
        }

        .detaljerad-prognos .panel-title a{
            background: #f27474;
            color: #222;
            border: 1px solid #f27474;
        }
         #weather-display {
            background: #2b4243;
            opacity:1;
            top: 88px;
        }
        #weather-display hr {
            margin-top: 20px;
        }
        #weather-display .pager {
            margin: 0;
        }
       
        #weather-display .row {
            margin: 20px 0;
        }
        #weather-header {
            border-bottom: 1px solid #ccc;
            height: 88px;
        }

        #weather-header {
            
            border-top: medium none;
        }

        .icon-like-weather {
            background: none repeat scroll 0 0 #a5dc86;
            border: 2px solid #a5dc86;
        }
       

        .icon-favorite-weather {
            background: none repeat scroll 0 0 #ffba66;
            border: 2px solid #ffba66;
        }
       

        .icon-close-weather {
            background: none repeat scroll 0 0 #f27474;
            border: 2px solid #f27474;
        }
        

        .icon-weather-control {
            border: 0 solid #fff;
            border-radius: 0;
            display: inline-block;
            float: right;
            height: 35px;
            margin: 0 0 12px;
            position: relative;
            width: 33.33%;
        }

        .container {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
        #weather-header .row {
            margin-left: 0;
            margin-right: 0;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .x-mark .line {
            display: none;
        }
        
        /* Icons for mobile add, favorite, close */


        .mobile-icon-only {
            color: #fdfbee;
            display: table;
            font-size: 42px;
            margin: -5px auto 0;
        }


        .mobile-icon-only.x-icon {
            font-size: 46px;
            margin-top: -6px;
            transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
        }


        .mobile-icon-only.star-icon {
            margin-top: 3px;
        }/* End Icons for mobile add, favorite, close */

        ul.ortens-favoriter li a {
            font-size: 11px;
            margin-right: 0;
        }

        .form-control {
            border-radius: 0;
        }
        

        .btn {    border-radius: 0;
        }
        
        #weather-display .row.main-display {
            height: 115px;
            margin-bottom: 0;
            margin-top: -20px;
            overflow: hidden;
        }
        .panel-group {
            margin-top: -10px;
        }
        #weather-display #accordion.detaljerad-prognos ul.let-the-sun-go-down {
          
            margin-left: 0;
        }
        #accordion ul.let-the-sun-go-down li {
            margin: 0 18px;
        }
        #accordion ul.let-the-sun-go-down li i {
            margin:0 10px;
        }
		    .detaljerad-prognos .panel-title a.collapsed, .detaljerad-prognos .panel-title a{
		        color: #fdfbee;
		        padding:2px 9px;
		        border-radius: 30px;
		        transition: background 0.3s ease-in-out 0s;
		        
		    }
		    
		    .detaljerad-prognos .panel-title a.collapsed:hover{
            
            background: #6fcfd2;
        }
        .detaljerad-prognos .panel-title a:hover{
            color: #fdfbee;
            background: #f38585;
        }
		    
        h4.panel-title {
            margin: -26px -20px;
            min-width: 41px;
            position: absolute;
        }
        
        .detaljerad-prognos .panel-title a.collapsed span:before,
        .detaljerad-prognos .panel-title a span:before{
              font-size: 32px;
              font-weight: bold;
              line-height: 34px;
              margin-left: 1px;
              
        }
        
        .detaljerad-prognos .panel-title a.collapsed span:before {
            
            content: "+";
            
        }
        .detaljerad-prognos .panel-title a span:before {
            content: "-";
           
        }
        /*  fix for mysterious issue with top space in table layout */
        .detaljerad-prognos table {
            margin-top: -26px;
        }

}
        

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
